@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.header1 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 55px;
  line-height: 128.4%;
  font-weight: 600;
  letter-spacing: -0.02em;
}
